
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position:center;
	background-size: cover;
	text-align:center;
}

#myCanvas{
border-style: ridge;
border-width:30px;
background-color: white;
}
